<br>
<br>
<br>

<div class="title-container">
  <h1>Algoritmo Congruencial Multiplicativo:</h1>
</div>

<div class="input-container">
  <div class="input-wrapper">
    <span class="input-label">X<sub>0</sub>:</span>
    <input type="number" class="number-input" [(ngModel)]="x0">
  </div>
  <div class="input-wrapper">
    <span class="input-label">K:</span>
    <input type="number" class="number-input" [(ngModel)]="k">
  </div>

  <!-- Selección de 'a' con radio buttons -->
  <div class="input-wrapper">
    <span class="input-label">a:</span>
    <div>
      <label>
        <input type="radio" name="aOption" [(ngModel)]="aOption" value="3+8k"> 3 + 8k
      </label>
      <label>
        <input type="radio" name="aOption" [(ngModel)]="aOption" value="5+8k"> 5 + 8k
      </label>
    </div>
  </div>

  <div class="input-wrapper">
    <span class="input-label">P:</span>
    <input type="number" class="number-input" [(ngModel)]="p">
  </div>
  <div class="input-wrapper">
    <span class="input-label">D:</span>
    <input type="number" class="number-input" [(ngModel)]="d">
  </div>

  <div class="button-container">
    <button class="calculate-button" (click)="generarNumeros()">Generar</button>
    <button class="clear-button" (click)="limpiarTabla()">Limpiar</button>
  </div>
</div>

<!-- Mostrar g, m, a -->
<div class="result-summary" *ngIf="resultados.length > 0">
  <div><strong>g:</strong> {{ g }} ; <strong>m:</strong> {{ m }} ; <strong>a:</strong> {{ a }}</div>
</div>

<div class="table-container">
  <table mat-table [dataSource]="resultados" class="mat-elevation-z8">
    <!-- Iteration Column -->
    <ng-container matColumnDef="i">
      <th mat-header-cell *matHeaderCellDef> i </th>
      <td mat-cell *matCellDef="let element"> {{element.i}} </td>
    </ng-container>

    <!-- Xi-1 Column -->
    <ng-container matColumnDef="xi_1">
      <th mat-header-cell *matHeaderCellDef> X<sub>i-1</sub> </th>
      <td mat-cell *matCellDef="let element"> {{element.xi_1}} </td>
    </ng-container>

    <!-- Operacion Column -->
    <ng-container matColumnDef="operacion">
      <th mat-header-cell *matHeaderCellDef> Operación </th>
      <td mat-cell *matCellDef="let element"> {{element.operacion}} </td>
    </ng-container>

    <!-- Xi Column -->
    <ng-container matColumnDef="xi">
      <th mat-header-cell *matHeaderCellDef> X<sub>i</sub> </th>
      <td mat-cell *matCellDef="let element"> {{element.xi}} </td>
    </ng-container>

    <!-- ri Column -->
    <ng-container matColumnDef="ri">
      <th mat-header-cell *matHeaderCellDef> r<sub>i</sub> </th>
      <td mat-cell *matCellDef="let element"> {{element.ri}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['i', 'xi_1', 'operacion', 'xi', 'ri']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['i', 'xi_1', 'operacion', 'xi', 'ri'];"></tr>
  </table>
</div>
