<br>
<br>
<br>

<div class="title-container">
  <h1>Algoritmo Lineal:</h1>
</div>

<div class="input-container">
  <div class="input-wrapper">
    <span class="input-label">X<sub>0</sub>:</span>
    <input type="number" placeholder="" class="number-input" [(ngModel)]="x0">
  </div>
  <div class="input-wrapper">
    <span class="input-label">K:</span>
    <input type="number" placeholder="" class="number-input" [(ngModel)]="k">
  </div>
  <div class="input-wrapper">
    <span class="input-label">c:</span>
    <input type="number" placeholder="" class="number-input" [(ngModel)]="c">
  </div>
  <div class="input-wrapper">
    <span class="input-label">P:</span>
    <input type="number" placeholder="" class="number-input" [(ngModel)]="p">
  </div>
  <div class="input-wrapper">
    <span class="input-label">D:</span>
    <input type="number" placeholder="" class="number-input" [(ngModel)]="d">
  </div>

  <div class="button-container">
    <button class="calculate-button" (click)="generarNumeros()">Generar</button>
    <button class="clear-button" (click)="limpiarTabla()">Limpiar</button>
  </div>
</div>

<div class="table-container">
  <table mat-table [dataSource]="resultados" class="mat-elevation-z8">
    <!-- Iteration Column -->
    <ng-container matColumnDef="i">
      <th mat-header-cell *matHeaderCellDef> i </th>
      <td mat-cell *matCellDef="let element"> {{element.i}} </td>
    </ng-container>

    <!-- a Column -->
    <ng-container matColumnDef="a">
      <th mat-header-cell *matHeaderCellDef> a </th>
      <td mat-cell *matCellDef="let element"> {{element.a}} </td>
    </ng-container>

    <!-- Xi-1 Column -->
    <ng-container matColumnDef="xi_1">
      <th mat-header-cell *matHeaderCellDef> X<sub>i-1</sub> </th>
      <td mat-cell *matCellDef="let element"> {{element.xi_1}} </td>
    </ng-container>

    <!-- c Column -->
    <ng-container matColumnDef="c">
      <th mat-header-cell *matHeaderCellDef> c </th>
      <td mat-cell *matCellDef="let element"> {{element.c}} </td>
    </ng-container>

    <!-- P Column -->
    <ng-container matColumnDef="p">
      <th mat-header-cell *matHeaderCellDef> P </th>
      <td mat-cell *matCellDef="let element"> {{element.p}} </td>
    </ng-container>

    <!-- g Column -->
    <ng-container matColumnDef="g">
      <th mat-header-cell *matHeaderCellDef> g </th>
      <td mat-cell *matCellDef="let element"> {{element.g}} </td>
    </ng-container>

    <!-- m Column -->
    <ng-container matColumnDef="m">
      <th mat-header-cell *matHeaderCellDef> m </th>
      <td mat-cell *matCellDef="let element"> {{element.m}} </td>
    </ng-container>

    <!-- Xi Column -->
    <ng-container matColumnDef="xi">
      <th mat-header-cell *matHeaderCellDef> X<sub>i</sub> </th>
      <td mat-cell *matCellDef="let element"> {{element.xi}} </td>
    </ng-container>

    <!-- ri Column -->
    <ng-container matColumnDef="ri">
      <th mat-header-cell *matHeaderCellDef> r<sub>i</sub> </th>
      <td mat-cell *matCellDef="let element"> {{element.ri}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['i', 'a', 'xi_1', 'c', 'p', 'g', 'm', 'xi', 'ri']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['i', 'a', 'xi_1', 'c', 'p', 'g', 'm', 'xi', 'ri'];"></tr>
  </table>
</div>


